
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
padding-right: 5px;
padding-left: 10px;
background-color:skyblue;
height: 55px;

padding-top: 8px;
}

#status
{
font-size: 18px;
margin-top: 13px;
}

body{
    background-size: cover;
    background-position: center;
}

canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    margin-top: 47px;
}
#welcomeHead{
    border-radius: 30px;
    font-size: 30px;
}
#nope{
    background-size: cover;
    background-position: center;
}
.yoyo{
   float: right;
}
